# Crypto Tracker

### ETL, Visualisation, Prediction, (Maybe ARIMA Time Series???)

In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('crypto-markets.csv')
df

,slug,asset,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,target-coin,TGT,Target Coin,29-09-2017,607,0.028961,0.054766,0.028961,0.041777,69996,0.0,0.4966,0.03
1,target-coin,TGT,Target Coin,30-09-2017,607,0.041783,0.046196,0.031435,0.031744,5725,0.0,0.0209,0.01
2,target-coin,TGT,Target Coin,01-10-2017,607,0.031761,0.035957,0.021040,0.028385,5012,0.0,0.4924,0.01
3,target-coin,TGT,Target Coin,02-10-2017,607,0.028375,0.054595,0.020417,0.022525,8010,0.0,0.0617,0.03
4,target-coin,TGT,Target Coin,03-10-2017,607,0.022527,0.032225,0.020211,0.020359,1787,0.0,0.0123,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1582,litecoin,LTC,Litecoin,09-08-2013,6,2.710000,2.760000,2.660000,2.680000,0,54639500.0,0.2000,0.10
1583,litecoin,LTC,Litecoin,10-08-2013,6,2.690000,2.710000,2.560000,2.560000,0,54201200.0,0.0000,0.15
1584,litecoin,LTC,Litecoin,11-08-2013,6,2.550000,2.720000,2.530000,2.690000,0,51564700.0,0.8421,0.19
1585,litecoin,LTC,Litecoin,12-08-2013,6,2.690000,2.720000,2.580000,2.650000,0,54534200.0,0.5000,0.14
1586,litecoin,LTC,Litecoin,13-08-2013,6,2.660000,2.760000,2.620000,2.740000,0,53831200.0,0.8571,0.14

## Transform USD into GBP for select markets

In [8]:
markets = ['BTC','ETH','XRP','LTC']
transform_cols = ['open','close','high','low']
gbp_conversion = 0.8

In [7]:
df[['open', 'asset']].head()

       open asset
0  0.028961   TGT
1  0.041783   TGT
2  0.031761   TGT
3  0.028375   TGT
4  0.022527   TGT

In [9]:
for col in transform_cols:
    df[col] = df[[col, 'asset']].apply(lambda x: (x[0] * gbp_conversion) if x[1] in markets else np.nan, axis=1)
    # x[0] is the column
    # x[1] is 'asset' to match
    # assign np.nan otherwise to later remove using dropna
    # axis=1 to apply to row-wise

In [10]:
df

,slug,asset,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,target-coin,TGT,Target Coin,29-09-2017,607,NaN,NaN,NaN,NaN,69996,0.0,0.4966,0.03
1,target-coin,TGT,Target Coin,30-09-2017,607,NaN,NaN,NaN,NaN,5725,0.0,0.0209,0.01
2,target-coin,TGT,Target Coin,01-10-2017,607,NaN,NaN,NaN,NaN,5012,0.0,0.4924,0.01
3,target-coin,TGT,Target Coin,02-10-2017,607,NaN,NaN,NaN,NaN,8010,0.0,0.0617,0.03
4,target-coin,TGT,Target Coin,03-10-2017,607,NaN,NaN,NaN,NaN,1787,0.0,0.0123,0.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1582,litecoin,LTC,Litecoin,09-08-2013,6,2.168,2.208,2.128,2.144,0,54639500.0,0.2000,0.10
1583,litecoin,LTC,Litecoin,10-08-2013,6,2.152,2.168,2.048,2.048,0,54201200.0,0.0000,0.15
1584,litecoin,LTC,Litecoin,11-08-2013,6,2.040,2.176,2.024,2.152,0,51564700.0,0.8421,0.19
1585,litecoin,LTC,Litecoin,12-08-2013,6,2.152,2.176,2.064,2.120,0,54534200.0,0.5000,0.14
1586,litecoin,LTC,Litecoin,13-08-2013,6,2.128,2.208,2.096,2.192,0,53831200.0,0.8571,0.14

### Drop Rows Not Converted

In [13]:
df.dropna(inplace=True)
df.reset_index(inplace=True, drop=True)

In [14]:
df

,slug,asset,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,28-04-2013,1,108.240,108.784,105.680,107.368,0,1.500520e+09,0.5438,3.88
1,bitcoin,BTC,Bitcoin,29-04-2013,1,107.552,117.992,107.200,115.632,0,1.491160e+09,0.7813,13.49
2,bitcoin,BTC,Bitcoin,30-04-2013,1,115.200,117.544,107.240,111.200,0,1.597780e+09,0.3843,12.88
3,bitcoin,BTC,Bitcoin,01-05-2013,1,111.200,111.912,86.176,93.592,0,1.542820e+09,0.2882,32.17
4,bitcoin,BTC,Bitcoin,02-05-2013,1,93.104,100.480,73.824,84.168,0,1.292190e+09,0.3881,33.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,litecoin,LTC,Litecoin,09-08-2013,6,2.168,2.208,2.128,2.144,0,5.463950e+07,0.2000,0.10
491,litecoin,LTC,Litecoin,10-08-2013,6,2.152,2.168,2.048,2.048,0,5.420120e+07,0.0000,0.15
492,litecoin,LTC,Litecoin,11-08-2013,6,2.040,2.176,2.024,2.152,0,5.156470e+07,0.8421,0.19
493,litecoin,LTC,Litecoin,12-08-2013,6,2.152,2.176,2.064,2.120,0,5.453420e+07,0.5000,0.14
494,litecoin,LTC,Litecoin,13-08-2013,6,2.128,2.208,2.096,2.192,0,5.383120e+07,0.8571,0.14

In [18]:
# Drop unnecessary columns
df = df.drop(columns=['slug', 'ranknow', 'volume', 'market', 'close_ratio', 'spread'])
df

    asset      name        date     open     high      low    close
0     BTC   Bitcoin  28-04-2013  108.240  108.784  105.680  107.368
1     BTC   Bitcoin  29-04-2013  107.552  117.992  107.200  115.632
2     BTC   Bitcoin  30-04-2013  115.200  117.544  107.240  111.200
3     BTC   Bitcoin  01-05-2013  111.200  111.912   86.176   93.592
4     BTC   Bitcoin  02-05-2013   93.104  100.480   73.824   84.168
..    ...       ...         ...      ...      ...      ...      ...
490   LTC  Litecoin  09-08-2013    2.168    2.208    2.128    2.144
491   LTC  Litecoin  10-08-2013    2.152    2.168    2.048    2.048
492   LTC  Litecoin  11-08-2013    2.040    2.176    2.024    2.152
493   LTC  Litecoin  12-08-2013    2.152    2.176    2.064    2.120
494   LTC  Litecoin  13-08-2013    2.128    2.208    2.096    2.192

[495 rows x 7 columns]

## Insert into SQL Database

In [19]:
import sqlite3

In [41]:
# open a connection to the database file
conn = sqlite3.connect('session.db')
print(conn)

<sqlite3.Connection object at 0x7fe958e48110>

In [42]:
# Drop table 'Crypto' if it exists
try:
    conn.execute("DROP TABLE IF EXISTS 'Crypto' ")
except Exception as e:
    raise(e)
finally:
    print('Table "Crypto" dropped')

Table "Crypto" dropped

In [43]:
# Create a new table named 'Crypto'
try:
    conn.execute('''
        CREATE TABLE Crypto(
            ID INTEGER PRIMARY KEY,
            ASSET TEXT NOT NULL,
            NAME TEXT NOT NULL,
            Date DATETIME,
            Open FLOAT DEFAULT 0,
            High FLOAT DEFAULT 0,
            Low FLOAT DEFAULT 0,
            Close FLOAT DEFAULT 0
            );''')
    print('Table Created Successfully')
except Exception as e:
    print(str(e))
    print('Table Creation Failed')
finally:
    conn.close()

Table Created Successfully

In [44]:
# create a list from the df to insert into db
crypto_list = df.values.tolist()

In [45]:
# connection
conn = sqlite3.connect('session.db')

# make cursor
cur = conn.cursor()

try:
    cur.executemany("INSERT INTO Crypto(ASSET, NAME, Date, Open, High, Low, Close) VALUES(?,?,?,?,?,?,?)", crypto_list)
    # ? is used in place of values from crypto_list
    conn.commit()
    print('Data Inserted Successfully')
except Exception as e:
    print(str(e))
    print('Data Insertion Failed')
finally:
    conn.close()

Data Inserted Successfully

### Retrieve Data from SQL DB

In [47]:
conn = sqlite3.connect('session.db')

cur = conn.cursor()

cur.execute("SELECT * FROM Crypto LIMIT 10;")
results = cur.fetchall()
print(results)

cur.close()
conn.close()

[(1, 'BTC', 'Bitcoin', '28-04-2013', 108.24000000000001, 108.78399999999999, 105.68, 107.36800000000001), (2, 'BTC', 'Bitcoin', '29-04-2013', 107.552, 117.99200000000002, 107.2, 115.632), (3, 'BTC', 'Bitcoin', '30-04-2013', 115.2, 117.54400000000001, 107.24000000000001, 111.2), (4, 'BTC', 'Bitcoin', '01-05-2013', 111.2, 111.91199999999999, 86.176, 93.592), (5, 'BTC', 'Bitcoin', '02-05-2013', 93.104, 100.48, 73.824, 84.168), (6, 'BTC', 'Bitcoin', '03-05-2013', 85.0, 86.504, 63.28, 78.2), (7, 'BTC', 'Bitcoin', '04-05-2013', 78.48, 92.0, 74.0, 90.0), (8, 'BTC', 'Bitcoin', '05-05-2013', 90.32000000000001, 95.04, 85.712, 92.72800000000001), (9, 'BTC', 'Bitcoin', '06-05-2013', 92.784, 99.72800000000001, 85.31200000000001, 89.84), (10, 'BTC', 'Bitcoin', '07-05-2013', 89.80000000000001, 90.75200000000001, 78.16000000000001, 89.2)]

### Results in a Pandas Dataframe

In [51]:
conn = sqlite3.connect('session.db')

sql_df = pd.read_sql_query("SELECT * FROM Crypto LIMIT 10;", conn)
conn.close()

In [52]:
sql_df

   ID ASSET     NAME        Date     Open     High      Low    Close
0   1   BTC  Bitcoin  28-04-2013  108.240  108.784  105.680  107.368
1   2   BTC  Bitcoin  29-04-2013  107.552  117.992  107.200  115.632
2   3   BTC  Bitcoin  30-04-2013  115.200  117.544  107.240  111.200
3   4   BTC  Bitcoin  01-05-2013  111.200  111.912   86.176   93.592
4   5   BTC  Bitcoin  02-05-2013   93.104  100.480   73.824   84.168
5   6   BTC  Bitcoin  03-05-2013   85.000   86.504   63.280   78.200
6   7   BTC  Bitcoin  04-05-2013   78.480   92.000   74.000   90.000
7   8   BTC  Bitcoin  05-05-2013   90.320   95.040   85.712   92.728
8   9   BTC  Bitcoin  06-05-2013   92.784   99.728   85.312   89.840
9  10   BTC  Bitcoin  07-05-2013   89.800   90.752   78.160   89.200